[submodule "device/BLACKPILL_F401CC/PowerSensor/Libraries/STM32F4_SPI_DMA"]
	path = device/BLACKPILL_F401CC/PowerSensor/Libraries/STM32F4_SPI_DMA
	url = https://github.com/nlesc-recruit/STM32F4_SPI_DMA.git
