name: cffconvert

on:
  workflow_dispatch:
  push:
    paths:
      - CITATION.cff

jobs:
  cffconvert:
    name: "validate citation file"
    runs-on: ubuntu-latest
    steps:
      - name: Check out a copy of the repository
        uses: actions/checkout@v5
      - name: Check whether the citation metadata from CITATION.cff is valid
        uses: citation-file-format/cffconvert-github-action@2.0.0
        with:
          args: "--validate"
